/* Подключение шрифтов из папки ./fonts */

@font-face {
  font-family: Inter-Variable;
  src:
    local('Inter-Variable'),
    url(../fonts/Inter-Variable.woff2) format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'PressStart2P-Regular';
  src:
    local('PressStart2P-Regular'),
    url(../fonts/PressStart2P-Regular.woff) format('woff');
  font-display: swap;
}
