/*

Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
*/

body::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Edge */
}

/* Container */

.container {
  display: grid;
  margin-inline: auto;
  background-color: var(--background-color-container, #fff);
  inline-size: var(
    --inline-size-container,
    clamp(
      375px,
      calc(375px + (700 - 375) * ((100vw - 375px) / (1440 - 375))),
      700px
    )
  );
}

/* Button */

.button {
  border: none;
  padding: 12.5px 37px;
  outline: 2px solid currentColor;
  outline-offset: -2px;
  font-family: var(
    --font-family-accent,
    'Press Start 2P',
    'Courier New',
    'Courier',
    monospace
  );
  font-size: 14px;
  line-height: 0.9;
  background-color: transparent;
  cursor: pointer;
}
/* Page */

.page {
  font-family: var(
    --font-family-main,
    'Inter Variable',
    'Segoe UI',
    'Helvetica Neue',
    'Arial',
    sans-serif
  );
  background-image: var(
    --background-image-page,
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #e7e7e7, #1a1a1a)
  );
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-text, 410);
}

/* Header */

.header {
  justify-items: center;
  gap: 20px;
  padding-block: var(
    --padding-block-header,
    clamp(
      122px,
      calc(122px + (130 - 122) * ((100vw - 375px) / (1440 - 375))),
      130px
    )
  );
  outline: 2px solid currentColor;
  outline-offset: -2px;
  font-family: var(
    --font-family-accent,
    'Press Start 2P',
    'Courier New',
    'Courier',
    monospace
  );
  margin-block: 100px;
}

.header__logo {
  font-size: var(
    --font-size-logo,
    clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem)
  );
}

.header__title {
  font-size: var(
    --font-size-subtitle,
    clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem)
  );
}

/* Main */

.main {
  gap: 50px;
}

/* Card */

.card {
  outline: 2px solid currentColor;
  outline-offset: -2px;
}

.card__title {
  font-variation-settings: 'wght' var(--font-weight-title, 715);
  padding: 4px 10px;
  font-size: inherit;
}

.card__content {
  display: grid;
  gap: 25px;
  padding: 25px;
}

.card__actions {
  display: flex;
  justify-content: end;
  gap: 12px;
}
