/*

Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
*/

/* Container */

.container {
  display: grid;
  justify-items: center;
  inline-size: var(
    --inline-size-container,
    clamp(
      375px,
      calc(375px + (700 - 375) * ((100vw - 375px) / (1440 - 375))),
      700px
    )
  );
  margin-inline: auto;
}

@media (width <= 375px) {
  .container {
    inline-size: 100%;
  }
}

.button {
  border: none;
  outline: 2px solid currentColor;
  outline-offset: -2px;
  font-family: var(
    --font-family-accent,
    'Press Start 2P',
    'Courier New',
    'Courier',
    monospace
  );
  font-size: 14px;
  line-height: 0.9;
  background-color: var(--background-color, #fff);
  cursor: pointer;
}

.button--save-memory {
  inline-size: var(
    --inline-size-button,
    clamp(
      306px,
      calc(306px + (335 - 306) * ((100vw - 375px) / (1440 - 375))),
      335px
    )
  );
  padding: 17px 20px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: max-content 1fr;
  gap: 8px;
}

@media (width <= 375px) {

  .button--save-memory {
    grid-template-columns: 1fr;
  }
}

.button__icon {
  inline-size: var(
    --size-button-icon,
    clamp(21px, calc(28px + (21 - 28) * ((100vw - 375px) / (1440 - 375))), 28px)
  );
  block-size: var(
    --size-button-icon,
    clamp(21px, calc(28px + (21 - 28) * ((100vw - 375px) / (1440 - 375))), 28px)
  );
}

.like-icon {
  inline-size: 39px;
  height: 36px;
}

/* Page */

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block: 100px;
  overflow-y: scroll;
  font-family: var(
    --font-family-main,
    'Inter Variable',
    'Segoe UI',
    'Helvetica Neue',
    'Arial',
    sans-serif
  );
  background-image: var(
    --background-image-page,
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #e7e7e7, #1a1a1a)
  );
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--font-weight-text, 410);
}

/* Header */

.header {
  justify-items: center;
  gap: 20px;
  margin-block-end: 100px;
  padding-block: var(
    --padding-block-header,
    clamp(
      122px,
      calc(122px + (130 - 122) * ((100vw - 375px) / (1440 - 375))),
      130px
    )
  );
  outline: 2px solid currentColor;
  outline-offset: -2px;
  font-family: var(
    --font-family-accent,
    'Press Start 2P',
    'Courier New',
    'Courier',
    monospace
  );
  background-color: var(--background-color, #fff);
}

.header__logo {
  font-size: var(
    --font-size-logo,
    clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem)
  );
}

.header__title {
  font-size: var(
    --font-size-subtitle,
    clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem)
  );
}

/* Main */

.main {
  gap: 50px;
}

/* Card */

.cards-list {
  display: grid;
  gap: 50px;
}

.card {
  outline: 2px solid currentColor;
  outline-offset: -2px;
  background-color: var(--background-color, #fff);
}

.card__title {
  padding: 4px 10px;
  font-size: inherit;
  font-variation-settings: 'wght' var(--font-weight-title, 715);
}

.card__media {
  position: relative;
  outline: 2px solid currentColor;
  outline-offset: -2px;
}

.card__watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(
    --font-family-accent,
    'Press Start 2P',
    'Courier New',
    'Courier',
    monospace
  );
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--color-card-watermark-stroke, #fff),
    0 1px var(--color-card-watermark-stroke, #fff),
    1px 0 var(--color-card-watermark-stroke, #fff),
    0 -1px var(--color-card-watermark-stroke, #fff);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--color-card-watermark-stroke, #fff)) or
    (-webkit-text-stroke: 1px var(--color-card-watermark-stroke, #fff))
) {
  .card__watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-card-watermark-stroke, #fff);
    text-stroke: 1px var(--color-card-watermark-stroke, #fff);
  }
}

.card__content {
  display: grid;
  gap: 25px;
  padding: 25px;
}

.card__actions {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.card__icon-button {
  padding: 0;
  outline: none;
}

.card__like-button {
  padding: 13px 37px;
}

/* Modal */

.modal[open] {
  inline-size: var(
    --inline-size-modal,
    clamp(
      341px,
      calc(341px + (353 - 341) * ((100vw - 375px) / (1440 - 375))),
      353px
    )
  );
  padding: 30px 40px;
  display: grid;
  gap: 30px;
  font-family: var(
    --font-family-accent,
    'Press Start 2P',
    'Courier New',
    'Courier',
    monospace
  );
  font-size: 14px;
}

.modal[open]::backdrop {
  opacity: 0.75;
  background-color: currentColor;
}

.modal[open] .modal__content {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 20px;
}

.modal[open] .modal__icon {
  inline-size: 39px;
  block-size: 39px;
}

.modal[open] .modal__text {
  line-height: 1.5;
}

.modal[open] .modal__button {
  padding: 12px;
}
