:root {
  /* Font families */
  --font-family-main:
    'Inter Variable', 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif;
  --font-family-accent: 'Press Start 2P', 'Courier New', 'Courier', monospace;

  /* Font weights */
  --font-weight-card-title: 715;
  --font-weight-card-text: 410;

  /* Font sizes */
  --font-size-logo: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --font-size-title: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

  /* Backgrounds */
  --background-image-page:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  --background-color: #fff;

  /* Colors */
  --color-card-watermark-stroke: #fff;

  /* Layout */

  /*
    Используется линейная интерполяция размеров через clamp().
    Подробнее: https://css-tricks.com/snippets/css/fluid-typography/
  */

  --inline-size-container: clamp(
    375px,
    calc(375px + (700 - 375) * ((100vw - 375px) / (1440 - 375))),
    700px
  );

  --padding-block-header: clamp(
    122px,
    calc(122px + (130 - 122) * ((100vw - 375px) / (1440 - 375))),
    130px
  );

  --inline-size-button-save-memory: clamp(
    306px,
    calc(306px + (335 - 306) * ((100vw - 375px) / (1440 - 375))),
    335px
  );

  --size-button-icon: clamp(
    21px,
    calc(28px + (21 - 28) * ((100vw - 375px) / (1440 - 375))),
    28px
  );
}

/* H1 */

/*
МОБИЛКА

font-family: Press Start 2P;
font-size: 49px;
line-height: 100%;
text-transform: uppercase;

ДЕСКТОП

font-size: 65px;

*/

/* Подзаголовок */

/*

МОБИЛКА

font-family: Press Start 2P;
font-size: 14px;
line-height: 100%;
text-transform: uppercase;

ДЕСКТОП

font-size: 23px;

*/

/* Заголовок карточки */

/*

МОБИЛКА

font-family: Inter;
font-style: Bold;
font-size: 18px;
line-height: 100%;
vertical-align: middle;

ДЕСКТОП

font-style: Black;

*/

/* Watermark */

/*

МОБИЛКА

font-family: Press Start 2P;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
text-transform: uppercase;

ДЕСКТОП

vertical-align: middle;
*/

/* Текст карточки */

/*
font-family: Inter;
font-size: 18px;
leading-trim: NONE;
line-height: 21px;

*/

/* КНОПКА ВНИЗУ */

/*
МОБИЛКА
vertical-align: middle;
*/

/* Диалог */

/*
МОБИЛКА

font-family: Press Start 2P;
font-size: 14px;
leading-trim: NONE;
line-height: 150%;
text-transform: uppercase;
*/
