:root {
  /* Font families */

  --font-family-main:
    'Inter Variable', 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif;
  --font-family-accent: 'Press Start 2P', 'Courier New', 'Courier', monospace;

  /* Font weights */
  --font-weight-title: 715;
  --font-weight-text: 410;
}

/* H1 */

/*
МОБИЛКА

font-family: Press Start 2P;
font-size: 49px;
line-height: 100%;
text-transform: uppercase;

ДЕСКТОП

font-size: 65px;

*/

/* Подзаголовок */

/*

МОБИЛКА

font-family: Press Start 2P;
font-size: 14px;
line-height: 100%;
text-transform: uppercase;

ДЕСКТОП

font-size: 23px;

*/

/* Заголовок карточки */

/*

МОБИЛКА

font-family: Inter;
font-weight: 715;           Вариативный вес

font-style: Bold;
font-size: 18px;
line-height: 100%;
vertical-align: middle;

ДЕСКТОП

font-style: Black;

*/

/* Watermark */

/*

МОБИЛКА

font-family: Press Start 2P;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
text-transform: uppercase;

ДЕСКТОП

vertical-align: middle;
*/

/* Текст карточки */

/*
font-family: Inter;
font-weight: 410;         Вариативный вес
font-size: 18px;
leading-trim: NONE;
line-height: 21px;

*/

/* Кнопка */

/*
font-family: Press Start 2P;
font-size: 14px;
line-height: 90%;

*/

/* КНОПКА ВНИЗУ */

/*
МОБИЛКА
font-family: Press Start 2P;
font-size: 14px;
line-height: 90%;
vertical-align: middle;
*/

/* Диалог */

/*
МОБИЛКА

font-family: Press Start 2P;
font-size: 14px;
leading-trim: NONE;
line-height: 150%;
text-transform: uppercase;
*/
