@keyframes heart-pop {

  from {
    scale: 1;
  }

  to {
    scale: 1.25;
  }
}

@keyframes sparks-burst {

  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Сердце */

.like-icon.is-liked .heart {
  animation: heart-pop 0.3s ease-in 0.1s;
  transform-origin: center
}

/* Сердцевина */

.core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--color-secondary, #000);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s linear;
}

/* Основное тело */

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--color-secondary, #000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s linear 0.05s;
}

/* Контур */

.contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s linear 0.06s;
}

/* Искры */

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks-burst 0.3s ease-in 0.3s forwards;
}
