@keyframes heart-pop {

  from {
    scale: 1;
  }

  to {
    scale: 1.25;
  }
}

@keyframes sparks-burst {

  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.like-icon.is-liked {
  animation: heart-pop 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-burst 0.3s ease-in 0.3s;
}
